*{
	margin:0;
	padding:0;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-style:100%;
}
li{
	list-style:none;
}
a,a:hover,a:active{
	text-decoration:none;
	outline:none;
	color:#565a5f;
}
a:hover{
	color:#38b7ea;
}
a img{
	border:none;
}
body{
	width:100%;
	color:#999;
    background:#f5f8f9;
    font-size:13px;
}
.container{
	width:100%;
	height:auto;
}
/* 头部 */
.header{
	width:100% auto;
	height:70px;
	padding:0 30px;
	background:#fff;
    box-shadow:0 1px 2px rgba(0,0,0,0.05);
}
#logo{
	display:inline-block;
	height:40px;
	padding:15px 5px;
	float:left;
	line-height:40px;
}
#logo .logo{
	display:inline-block;
	width:40px;
	height:40px;
	background:url(../image/logo.png) no-repeat;
	background-size:cover;
}
#logo .logo-title{
	font-size:1.2em;
	font-weight:800;
	display:inline-block;
	vertical-align:top;
}
.nav{
	float:left;
	margin-left:30px;
}
.nav li{
	float:left;
	font-size:1.2em;
	margin:0 15px;
	line-height:70px;
}
.search-form-wrap{
	width:200px;
	height:50px;
	float:right;
}
.search-form{
	display:block;
    height:50px;
    padding-top:10px;
}
.search-form-input{
	width:160px;
    height:40px;
    padding:0 10px;
    line-height:40px;
    border-radius:25px;
    border:1px solid #eceff2;
    outline:none;
    font:normal 13px 'FontAwesome';
}
.search-form-input:focus{
    border:1px solid #38b7ea;
    box-shadow:0px 0px 5px #38b7ea;
}
.search-form-submit{
    width:13px;
    height:13px;
    position:relative;
    z-index:1;
    top:3px;
    right:28px;
    border:none;
    background:none;
    cursor:pointer;
    outline:none;
}

/* 主体 */
.outer{
	padding:40px 30px;
}

/* 个人信息 */
.outer .profile{
	/*width:220px;*/
	width:20%;
	padding-top:10px;
	text-align:center;
	line-height:20px;
	background:#fff;
	box-shadow:1px 1px 2px rgba(0,0,0,0.05);
	float:left;
}
.profile > img{
	width:200px;
	height:200px;
}
.profile .name{
	font-size:150%;
	color:#565a5f;
	line-height:30px;
}
.profile .post{
	font-size:13px;
	color:#565a5f;
}
.profile .location{
	font-size:11px;
	line-height:20px;
}
.profile .contact-list{
	width:150px;
	height:50px;
	padding:0 35px;
	margin-top:10px;
	border-top:1px solid #eceff2;
}
.profile .contact-list li{
	display:inline-block;
	padding:15px 15px;
	font-size:20px;
	float:left;
}

/* 正文 */
.outer .content{
	width:650px;
	float:left;
	margin:0 20px 0 20px;
}
.content .article{
	margin-bottom:40px;
	box-shadow:1px 1px 2px rgba(0,0,0,0.05);
}
.article .article-banner{
	width:650px;
	height:250px;
}
.article .article-word{
	width:620px;
	padding:0 15px;
	overflow:hidden;
	background:#fff;
}
.article .article-title{
	margin:10px 0;
	font-size:200%;
	color:#565a5f;
	line-height:50px;
	max-height:50px;
}
.article-date, .article-tag{
	padding-right:20px;
	color:#999;
}
.article .article-entry{
	line-height:20px;
	margin:15px 0;
	color:#565a5f;
}
.article .article-more>a{
	display:inline-block;
	padding:10px 25px;
	background:#f5f8f9;
	border-radius:25px;
	color:#999;
}
.article .article-more>a:hover{
	background:#38b7ea;
	color:#fff;
}
.article .article-operate{
	height:50px;
	margin-top:20px;
	padding-left:490px;
	border-top:1px solid #eceff2;
}
.article .article-operate a{
	display:inline-block;
	padding:17px 10px;
}
.article .article-operate a>i{
	padding-right:4px;
}

/* 推荐 */
.outer .sidebar{
	width:290px;
	float:right;
}
.sidebar .widget-wrap{
	margin-bottom:50px;
}
.sidebar .recents, .categories{
	width:100%;
	padding-left:5px;
}
.recents li{
	display:list-item;
	padding:20px 0;
}
.recents li a{
	display:inline-block;
}
.recents li img{
	width:90px;
	height:90px;
}
.recents .recents-categories{
	width:185px;
	margin:-85px 0 0 105px;
	font-size:1.1em;
	color:#38b7ea;
}
.recents .recents-title{
	width:185px;
	margin:5px 0 0 105px;
	line-height:20px;
	font-size:1.0em;
}
.recents time{
	position:relative;
	top:8px;
	left:105px;
}
.categories{
	padding:10px 10px;
}
.categories li{
	display:list-item;
	line-height:40px;
}
.categories li a:before{
	color:#ccc;
}

/* 底部 */
.footer{
	height:0px;
	clear:both;
	text-align:center;
	padding: 30px 0 40px;
	border-top:1px solid #eceff2;
}
.footer .goTop{
	padding:12px 15px 15px;
	color:#fff;
	background:#000;
	border-radius:3px;
	filter:opacity(0.8);
	-webkit-filter:opacity(0.8);
	position:fixed;
	right:259px;
	bottom:17px;
	cursor:pointer;
}
.footer a{
	color:#38b7ea;
}